<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="renderer" content="webkit">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
        <!--<meta name="keywords" content="selfPHP">-->
        <!--<meta name="description" content="selfPHP">-->
        <title>起步,selfPHP</title>
        <link href="/www/uikit/css/uikit.min.css" rel="stylesheet">
        <script src="/www/js/jquery-1.7.2/jquery.js"></script>
        <script src="/www/uikit/js/uikit.min.js"></script>
        <!--<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">-->
        <!--<link href="favicon.ico" rel="bookmark icon">-->
    <style>
        .header-height{
            height: 68px;
            background: black;
            filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
        }
        .test{
            background: red;
        }
    </style>
</head>
<body>
    <div class="uk-alert-danger uk-margin-remove uk-padding-remove">
        <div class="uk-width-large-1-1 uk-grid uk-block-primary header-height" data-uk-grid-match>
            <div class="uk-container uk-container-center test">
                111111111
            </div>
        </div>
    </div>
</body>
</html>